 .navbar {
    width: 100vw;
    background-color: rgba(17, 17, 17, 1);
    padding-left: 5%;
    height: 3rem;
 }

 .menu {
     justify-content: flex-end;
     align-items: flex-end;
     display: flex;
     padding-right: 5%;
 }

 .options {
     margin-right: 3rem;
 }