.row {
  color: white;
  height: fit-content;
  margin-left:3%;
  padding:0.25rem 0 ;
}

.link {
  text-decoration: none;
  color: #111;
  transition: all 0.2s ease-in-out;
}
.link:hover{
  text-decoration: none;
  color: #111;
  transform: scale(1.05);
  
  /* background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2 ); */

  /* box-shadow:  */
  /* inset 0 0 5px #fff, inner white  */
  /* inset 2px 0 8px #f0f, inner left magenta short  */
  /* inset -2px 0 8px #0ff,inner right cyan short  */
  /* inset 2px 0 30px #f0f, inner left magenta broad  */
  /* inset -2px 0 30px #0ff,inner right cyan broad  */
  /* 0 0 5px #fff, outer white  */
  /* -1px 0 8px #f0f, outer left magenta  */
  /* 1px 0 8px #0ff; */

  box-shadow: 
  inset 0 0 5px rgba(212, 45, 45, 0.7), /* inner white */ 
  inset 2px 0 8px rgba(105, 12, 20, 0.3), /* inner left magenta short */ 
  inset -2px 0 8px rgba(255, 0, 21, 0.3),/* inner right cyan short */ 
  inset 2px 0 30px rgba(255, 0, 119, 0.3), /* inner left magenta broad */ 
  inset -2px 0 30px rgba(255, 72, 0, 0.3),/* inner right cyan broad */ 
  0 0 5px rgba(240, 41, 41, 0.6), /* outer white */ 
  -1px 0 8px rgba(255, 0, 0, 0.3), /* outer left magenta */ 
  1px 0 8px rgba(172, 30, 89, 0.3); /* outer right cyan */
}
